body{
    padding: 25px;
  }
  .title {
      color: #5C6AC4;
  }
  .outer {
    border: 10px solid white ;
    width:170px;
    display: flex;
    flex-wrap : wrap;
  }
  .inner  {
    border: 3px;
    width:50px;
    height:50px;
    margin:3px;
    background-color: #64B5F6 ;
    
  }
  
  .x {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  .o {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  